@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Roboto";
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
img {
    width: 70%;
    border-radius: 10px;
}
.facults a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.facults a:hover, a:focus {
    padding: 10px;
    background-color: #e7e9eb;
    border-radius: 10px;
}
.facults a:active {
    background-color: #870301;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    top: 3px;
}
.facults {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
}
.err {
    display: none;
    color: red;
}
ul {
    width: 80%;
    list-style: none;
}
ul li:before {
    content:  "–";
    position: relative;
    left: -10px;
}
li {
    padding: 5px;
}
.roblox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}
.roblox__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #000;
}
h2 {
    margin-top: 60px;
}

form {
    background-color: #e7e9eb;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 60%;
}
input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: hidden;
}
*:focus {
    outline: none;
    border: none;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #059862 ;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    font-size: 18px;
}
input[type=number] {
    appearance: textfield;
}